body {
    color: #999;
}

.field {
    margin: 50px auto;
    background-color: gray;
    border-collapse: collapse;
}
  
.cell {
    width: 110px;
    height: 110px;
    border: 2px solid black;
}
  
.head {
    width: 105px;
    height: 105px;
}